@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Kumar+One+Outline&family=Outfit:wght@100..900&display=swap");

#root {
  margin: 0px;
  padding: 0px;
  text-align: center;
  display: flex;
  flex-direction: column;
  height: 100dvh;
  overflow-x: hidden;
  --font: "josefin" sans-serif;
  --ligh-white: rgb(228, 233, 239);
}
.middle {
  flex-grow: 1;
}
.img-holder {
  width: 70%;
  height: 100%;
  position: absolute;
  top: 50%;
  left: 10%;
  transform: translateY(-50%);
  z-index: 2;
}
.head-img {
  animation: downTop 900ms ease-in-out;
}
.txt-wrapper {
  font-family: "josefin" sans-serif;
  text-align: left;
}

.headline {
  font-weight: 700;
  font-size: 3rem;
  padding: 40px 0px 0px;
  line-height: 60px;
  animation: leftRight 700ms ease-in-out;
}
.head-desc {
  animation: leftRight 900ms ease-in-out;
}
.head-btn {
  animation: leftRight 800ms ease-in-out;
}
/* .feature-wrapper{
  height: 15rem;
} */
.features {
  position: relative;
  height: 300px !important;
}
.numbering {
  font-family: "Kumar One Outline";
  font-size: 3rem;
  position: absolute;
  left: -2%;
  top: -13%;
}
.feature_desc {
  font-size: 14px;
}
.how-intro {
  font-size: 1.4rem;
  font-weight: 500;
}
.card {
  border: none !important;
}
.text_wrapper {
  text-align: left;
}

.info_head,
.info_desc {
  position: relative;
  top: 30%;
}
.info_head {
  font-weight: 700;
}
.features:nth-child(2) {
  transition-delay: 200ms;
}
.features:nth-child(3) {
  transition-delay: 400ms;
}

.hidden {
  opacity: 0;
  filter: blur(5px);
  transform: translateX(-100%);
  transition: all ease-in-out 1.3s;
}
.hidden-right {
  opacity: 0;
  filter: blur(5px);
  transform: translateX(100%);
  transition: all ease-in-out 1.3s;
}

.show {
  opacity: 1;
  filter: blur(0px);
  transform: translateX(0);
}
.img_wrapper {
  transition-delay: 500ms;
}
.faq-pinkie {
  border-radius: 100%;
  height: 400px;
  opacity: 0.3;
  bottom: 25%;
  width: 400px;
  left: -19%;
  z-index: 1;
}

/* Sign up page */
.heading {
  font-family: outfit;
  font-weight: 600;
  text-align: left;
  padding: 30px;
}
.pic_head {
  position: absolute;
  left: 100%;
  transform: translateX(-100%);
}

.form-card {
  width: 90%;
  margin-bottom: 3rem;
}
.invalid-feedback {
  text-align: left;
}

/* Dashboard */
.phone_container {
  background-color: rgb(11, 11, 67);
  color: var(--ligh-white);
  text-align: left;
  font-family: outfit;
  position: relative;
  border-radius: 0px 0px 40px 40px;
}

.phone_container h4 {
  position: relative;
  bottom: 10px;
}
/* .btn-container {
  position: relative;
} */
.btn-container button {
  background-color: var(--ligh-white);
  font-weight: 500;
}

.debtor-card {
  background-color: var(--ligh-white);
  position: relative;
  top: 25px;
}
.debtor-card .card-body{
  height: 90px;
}
.dash-head-row .col{
  height: 120px;
  text-align: left;
}
.dash-head-row .col p{
  position: relative;
  top: 10px;
}
.button-group button{
  position: relative;
  left: 38px;
  bottom: 30px;
}
.modal-title{
  font-family: outfit;
  font-weight: 800;
}




@media only screen and (min-width: 400px) {
  .form-card {
    width: 400px;
  }
}
@media only screen and (min-width: 767px) {
  .faq-pinkie {
    height: 600px;
    width: 600px;
    bottom: 10%;
  }

  .form-container {
    width: 500px;
    background-color: yellow;
  }
}
@media only screen and (min-width: 990px) {
  .faq-pinkie {
    height: 800px;
    width: 800px;
    bottom: 10%;
  }
}

/* Animation */

@keyframes downTop {
  from {
    transform: translateY(20px);
    transform: translateX(20px);
    opacity: 0;
  }
  top {
    transform: translateY(0px);
    transform: translateX(0px);
    opacity: 1;
  }
}

@keyframes leftRight {
  from {
    transform: translateX(-50px);
    opacity: 0;
  }
  top {
    transform: translateX(0px);
    opacity: 1;
  }
}
